html {
   @apply overflow-hidden overflow-y-auto
   font-default font-normal text-base
   bg-default text-default/87 antialiased
   cursor-default overflow-x-hidden scrollbar-thin;
}

#app {
   @apply h-screen w-screen flex flex-col
   min-w-320px;
}

// Common components
input {
   @apply bg-default-elevated;
}

button {
   -webkit-tap-highlight-color: transparent;
}
