// Light Theme
html {
   --color-bg-inverse: 0, 0, 0;
   --color-bg-default: 242, 242, 242;
   --color-bg-default-elevated: 255, 255, 255;

   --color-text-default: 32, 32, 32;
   --color-text-inverse: 255, 255, 255;
}

// Dark Theme
html.theme-dark {
   --color-bg-inverse: 255, 255, 255;
   --color-bg-default: 20, 19, 22;
   --color-bg-default-elevated: 30, 31, 36;

   --color-text-default: 255, 255, 255;
   --color-text-inverse: 0, 0, 0;
}
